# === TELEGRAM ===
BOT_TOKEN=
ADMIN_ID=
SUPPORT_USERNAME=

# === XROCKET PAY ===
XROCKET_TOKEN=
MIN_WITHDRAW_TON=0.5
MIN_WITHDRAW_USDT=1

# === TWITTER ===
TWITTER_AUTH_TOKEN=
TWITTER_CT0=

TWITTER_ACCOUNT_1_AUTH=
TWITTER_ACCOUNT_1_CT0=
ADMIN_TOKEN=
